.numbers table {
  border: 1px solid;
  width: 100%;
  border-collapse: collapse;
  float: left;
}

.numbers table:last-child {
  margin-right: 0px;
}
.numbers th {
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  width: 33.33%;
  font-weight: normal;
}

.numbers th {
  border-right: 1px solid var(--white);
}
.numbers th:last-child {
  border-right: none;
}

.numbers th span:first-child{
  position: relative;
  top:2px;
}

.numbers td {
  border-bottom: 1px dashed;
  border-right: 1px dashed;
  text-align: right;
  padding: 2px 10px 2px 0;
}

.numbers td:last-child {
  border-right: 0;
}

.numbers .up-down-arrow {
  float: right;
  margin-right:10px;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  color: var(--pink);
}

.statistics-header {
  float:left;
  width:50%;
}

.draw-dates-total {
  float:right;
  width:50%;
  padding: 20px 0 10px 0;
  text-align: right;
  margin-top: 9px;
}

.table-container {
  overflow-y: auto;
  scrollbar-color: var(--pink)  var(--black) ;
  width: calc(50% - 10px);
  margin-right:20px;
  float:left;
}

.table-container:last-child {
  margin-right: 0px;
}

.table-1 {
  height:621.5px;
}

.table-2 {
  height:598.5px;
}

.numbers tr:nth-child(even) {
  background-color: #fff;
}

.numbers tr:nth-child(odd) {
  background-color: var(--white);
}

.numbers th:first-child,
.numbers td:first-child {
  width:20%;
}

.numbers th:last-child,
.numbers td:last-child {
  width:20%;
}

@media only screen and (max-width: 500px) {
  .table-container {
    width: 100%;
    margin-bottom: 10px;
  }
  .numbers th:first-child,
  .numbers td:first-child {
    width:25%;
  }
  .numbers th:last-child,
  .numbers td:last-child {
    width:25%;
  }
  .numbers th {
    font-size: medium;
  }
}