.App {
  margin:20px;
}

a {
  color: inherit;
}

.dotted {
  border-bottom: 1px dotted var(--white);
}

.accent {
  color: var(--pink);
  filter: drop-shadow(2px 2px 0px rgba(157, 23, 77));
}
.header {
  margin:20px 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
}

.sub1 {
  padding:20px 0 10px 0;
  font-weight:700;
  text-transform: uppercase;
  font-size: x-large;
}

.selector a.mm {
  float:right;
}

.selector a.active {
  color: var(--pink);
  filter: drop-shadow(2px 2px 0px rgba(157, 23, 77));
}

.date-range input{
  padding:2px 4px;
}