.App {
  margin:20px;
}
a {
  color: inherit;
}
.header {
  margin:20px 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.sub1 {
  margin:20px 0 10px 0;
  font-weight:700;
  text-transform: uppercase;
}
.selector a.mm {
  float:right;
}
.selector a.active {
  background-color:yellow;
}